@{
    ViewData["Title"] = "Cart";
}
@model IEnumerable<Shop.Models.Product>;
<style>
    section {
        min-height: 105vh;
    }

    .gapping {
        gap: 1rem;
    }

    .mls {
        margin-left: 40px;
    }
</style>
<div class="bs-dark">
    <section style="display:flex; flex-direction:column; gap: 1rem;">
        <div class="bs-dark-light1 p-4" style="display: flex; gap: 1rem;">
            <div class="container d-flex justify-content-center">
                <h1 class="text-white">Your products</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            @if (Model.Count() > 0)
            {
                <div class="mb-3 container d-flex pl-lg-5 pl-md-0">
                    <div class="row d-flex gapping mls">
                        @foreach (var item in Model)
                        {
                            <partial model="item" name="_cartProduct" />
                        }
                    </div>
                </div>
            }
            else
            {
                <h3 class="head-font txt-light">Add new device!</h3>
            }
        </div>
    </section>
</div>