@{
    ViewData["Title"] = "OrderConfirmarion";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-dark d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh">
    <h1 class="text-center txt-light">Thanks, you!</h1>
    <a asp-action="Index" asp-controller="Cart" class="txt-blue item-font text-center" style="margin-bottom: 20vh; font-size: 20px;">Go to main</a>
</div>

