@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="bs-dark pt-2" style="min-height: 82vh;">
    <div class="container">
        <h1 class="head-font txt-light">@ViewData["Title"]</h1>
        <p class="item-font txt-light">
            Please check your email to reset your password.
        </p>
    </div>
</div>

