@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="bs-dark" style="min-height: 90vh">
    <div class="bs-dark-light1 p-4 head-font">
        <div class="container d-flex justify-content-center">
            <h1 class="txt-light head-font">@ViewData["Title"]</h1>
        </div>
        <p class="txt-light text-center m-0 mt-3">
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>

