@model Shop.Models.Category

@{
    ViewData["Title"] = $"Delete {Model.Name}";
}

<style>
    .heights {
        min-height: 100vh;
        overflow: hidden;
    }

    .supra {
        border: 2px dashed #ee6b6b;
        border-radius: 1rem;
    }
</style>
<div class="bs-dark align-items-center" style="display: grid;">
    <div class="container heights d-flex align-items-center" style="width: 100%">
        <div style="width: 100%">
            <form method="post" asp-action="DeletePost" class="bs-dark-light1 p-4 supra" style="transform: translateY(-50%); width: 100%">
                <h2 class="txt-danger head-font mb-1 text-center">Delete</h2>
                <h6 class="text-muted item-font mb-2 text-center">Are you sure delete this category?</h6>
                <h6 class="txt-danger item-font mb-4 text-center">!!! Objects can be referenced in this category, so deletion may fail !!!</h6>
                <input type="hidden" asp-for="Id" />
                <div class="text-center">
                    <input type="submit" value="Delete" class="btn bs-danger head-font txt-light" style="font-size: 20px; width: 15%" />
                    <a asp-action="Index" class="head-font btn bs-successfull txt-light" style="font-size: 20px; width: 15%">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
