@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="bs-dark overflow-hidden" style="min-height: 90vh;">
    <div class="bs-dark-light1 p-2">
        <partial name="_ManageNav" />
    </div>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
