@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<style>
    .resendbtn {
        border: 2px dashed #56cc9d;
        color: white;
        width: 12rem;
    }

        .resendbtn:hover {
            background-color: #56cc9d;
        }

    .bordereds {
        border: 2px solid #56cc9d;
    }
</style>

<div class="bs-dark">
    <div class="bs-dark-light1 p-4" style="display: flex; gap: 1rem;">
        <div class="container d-flex justify-content-center">
            <h1 class="txt-light head-font">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="container mt-5 mb-5 txt-light head-font" style="max-width: 50vw;">
        <partial name="_StatusMessage" for="StatusMessage" />
        <form id="change-password-form" method="post">
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" placeholder="Old passworld" class="form-control item-font" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" placeholder="New password" class="form-control item-font" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" placeholder="Confirm password" class="form-control item-font" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="bordereds d-flex align-items-center p-4 justify-content-lg-between flex-lg-row flex-md-column flex-sm-column rounded bs-dark-light1 mt-5">
                <div>
                    <h2 class="txt-light head-font m-0">Update password...</h2>
                </div>
                <button type="submit" class="btn head-font resendbtn">Update</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}